/** @format */

//screen
$small: 600px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

//colors
$danger: crimson;
$primary: slateblue;
$primary-dark: darkslateblue;
$success: seagreen;
$white: white;
$primary-light: lavender;
$danger-light: mistyrose;
$success-light: palegreen;
$card-border: gainsboro;
$danger-dark: firebrick;

//fonts
$fontNormal: 20px;
